@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>IndexId :  @Model.IndexId</p>
    <p>Index Name :  @Model.IndexName</p>
</div>
